.fieldContainer {
    display: flex;
    flex-direction: column;
    
}
span {
    color: red;
    font-size: 13px;
}
.formContainer {
    border: 2px solid gray;
    border-radius: 12px;

    padding: 4px;
    width: 288px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.addButton {
    width: 100px;
    margin: 0 auto;
}